PORT=5000
MONGO_URI=mongodb://localhost:27017/myapp

// Device Imei check api credentials
DHRU_BASE_URL=https://sickw.com
IMEI_PROVIDER=sickw
DHRU_USERNAME=
DHRU_API_KEY=YOUR_REAL_API_KEY
DHRU_TIMEOUT_MS=60000
SICKW_RESPONSE_FORMAT=json
IMEI_ENABLE_SERVICE_FALLBACK=false
MONGODB_URL=mongodb+srv://night-shift:QjX9JbWhQ42gherI@cluster0.3kbupsb.mongodb.net/majid?appName=Cluster0


BCRYPT_SALT_ROUNDS=10
JWT_SECRET=acfc114359624a37e0511efc661f3Ef756fa41389274148f88ac1a080686WK6cbCVR95128b39fd17O98d353046e0c8bd2e469X9f3cfe1f4c309bf72d6809d48
JWT_EXPIRES_IN=7d
JWT_REFRESH_TOKEN_SECRET=969eT3f998b71a377fd5faX0b0884197058cZb6558d1cc057474edfb77ec6e0e2baf
JWT_REFRESH_EXPIRES_IN=30d


EMAIL_ADDRESS=sajjadhossainx0@gmail.com
EMAIL_PASSWORD=zsuxzybbpkxiibfd


CLOUDINARY_CLOUD_NAME=dat3kh4o6
CLOUDINARY_API_KEY=659882715674528
CLOUDINARY_API_SECRET=Lx3_wHZNtBIQaBNrdMTk-7QM5fU


STRIPE_SECRET_KEY=add your stripe secret key
STRIPE_PUBLIC_KEY= add your stripe public key
